<div id="allprofiles_page">
	
	<div id="profiles_list">
		<table>
			<tr>
				<th></th>
				<th>Username</th>
				<th>Name</th>
				<th>Email</th>
				<th>Blog Posts</th>
				<th>Comments</th>
			</tr>
			<% @users.each do |user| %>
			<tr>
				<td>
					<a href="/profile/<%= user.id %>">
						<% if 	user.photo.url == nil %>
        					<img src="https://www.zimphysio.org.zw/wp-content/uploads/2017/01/default-avatar.jpg" />
    					<% end %>
    					<% if user.photo.url != nil %>
        					<img src="<%= user.photo.url %>" />
    					<% end %>
					</a>
				</td>
				<td>
					<a href="/profile/<%= user.id %>"><%= user.username %></a>
				</td>
				<td>
					<a href="/profile/<%= user.id %>"><%= user.fullname %></a>
				</td>
				<td>
					<a href="mailto:<%= user.email %>"><%= user.email %></a>
				</td>		
				<td>
					<a href="/profile/<%= user.id %>"><%= user.blog_posts.count %></a>
				</td>
				<td>
					<a href="/profile/<%= user.id %>"><%= user.comments.count %></a>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
	
</div>
