<div id="allprofiles.page">
	<% @users.each do |user| %>
	<div class="user_profiles">
		<ul>
			<li><a href="/profile/<%= user.id %>"><img src="<%= user.image %>"/></a>
				<a href="/profile/<%= user.id %>"><%= user.username %></a>
				<a href="/profile/<%= user.id %>"><%= user.email %></a>
			</li>
		</ul>
	</div>
	<% end %>
</div>
