<div id="loginModal">
	<span id="close1">&times;</span> 
	<%= erb :login %>
</div>

<div id="signupModal">
	<span id="close2">&times;</span> 
	<%= erb :signup %>
</div>

    <div class="buttons"><button class="login">Log In</button>
    <button class="signup">Sign Up</button></div>

<img class ="headerImage" src="http://softqubes.3oifjlvvrmv.maxcdn-edge.com/wp-content/uploads/2016/05/web-development.jpg" />

<div class="recentContain">
	<% @posts.each do |post| %>
	<div class="recentPosts">
		<a href="/blogpost/<%= post.id %>"><%= post.title %></a>
		<%= post.body %></div>
<!--
		<p><a href="/blogpost/<%= post.id %>"><%= post.title %></a></p>
		<%= post.body.slice(0, 100) %></div>

	<% end %>
</div>
-->
<footer>
	<i class="fa fa-facebook-official" aria-hidden="true"></i>
	<i class="fa fa-instagram" aria-hidden="true"></i>
	<i class="fa fa-twitter" aria-hidden="true"></i>
</footer>