<div id="profile_page">
	<div id="profile_image">
		<img src="<%= @user.image %>"/>
	</div>
	<div id="profile_info">
		<div id="profile_username">
			<h2>Username</h2>
			<p><%= @user.fullname %></p>
		</div>
		<div id="profile_fullname">
			<h2>Name</h2>
			<p><%= @user.fullname %></p>
		</div>
		<div id="profile_email">
			<h2>Email</h2>
			<h3>Username</h3>
			<p><%= @user.username %></p>
		</div>
		<div id="profile_fullname">
			<h3>Name</h3>
			<p><%= @user.fullname %></p>
		</div>
		<div id="profile_email">
			<h3>Email</h3>
			<p><%= @user.email %></p>
		</div>
	</div>
	<div id="profile_blogposts">		
		<ul>
			<% user.blogposts.each do |blogpost| %>
			<li><%= blogpost.title %></li>
			<% end %>	
		</ul>
		
	</div>

</div>
	<div id="profile_blogs">
		<h3>My Blog Posts</h3>
		<ul>
			<% @user.blog_posts.each do |blog_post| %>
				<li><%= blog_post.title %></li>
			<% end %>	
		</ul>

	</div>

</div>